.Calculadora {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0fb9b1;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
}

.calculos {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.calculos div {
  flex: 1;
}

select {
  background: transparent;
  border: 2px solid #3867d6;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-style: italic;
  padding: 5px;
  width: 90%;
}